params {
  atlas_recal_1 {
    // Built-in parameters
    args = ""
    }
}


process {
  withName: atlas_recal_1 {
    container = "quay.io/biocontainers/atlas:0.9.9--h082e891_0"
    // Resources
    
    // Error handling
    
    
    // Results
    // Custom directive
    ext.args = params.atlas_recal_1.args
    
  }
}

